.wrapper {
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	gap: 5rem;

	@media (max-width: 600px) {
		width: 18.75rem;
		gap: 2rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 2.5rem;

	@media (max-width: 600px) {
		gap: 1.5rem;
	}
}

.titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.title {
	text-align: center;
	color: #FFF;
	// font-family: Inter Tight;
	font-size: 2rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.5rem; /* 125% */

	@media (max-width: 600px) {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.subtitle {
	color: rgba(255, 255, 255, 0.40);
	text-align: center;
	// font-family: Inter Tight;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.75rem; /* 155.556% */

	@media (max-width: 600px) {
		font-size: 0.625rem;
		line-height: 0.875rem;
	}
}

.actionButton {
	border-radius: 0.75rem;
	border: 1px solid rgba(255, 255, 255, 0.04);
	background: rgba(255, 255, 255, 0.04);

	// color: rgba(210, 93, 101, 0.80);
	color: var(--color-primary);
	// font-family: Inter Tight;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem; /* 150% */

	@media (max-width: 600px) {
		font-size: 0.5rem;
		line-height: 0.8125rem;
	}
}